* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
  font-size: 24px;
}

/* General section styling */
.featured-deals-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: left;
  padding: 10px 20px;
  gap: 20px;
}

p:first-child {
  font-weight: bold;
}

/* Styling for the deals background section */
.deals-background {
  width: 100%;
  height: 100%;
  /* Sets to fill the available space */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Styling for the title above the slider */
.special-deals-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #b5651d;
}

/* Main container for the slider - this holds the images and navigation buttons */
.deals-slider-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  overflow: visible;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Flexbox container that holds all the slides */
.slider {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 450px;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
}

/* Common styling for both previous and next navigation buttons */
.deal-button-prev,
.deal-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  /* Remove default button borders */

  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;

  transition: background-color 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  /* icons centering */
}

/* Positioning the previous button to the left */
.deal-button-prev {
  cursor: pointer;
  left: 10px;
}

/* Positioning the next button to the right */
.deal-button-next {
  cursor: pointer;
  right: 10px;
}

/* Container for the dot indicators below the slider */
.deal-dots-container {
  margin-top: 20px;
  /* Space above the dots */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Common styling for each individual dot */
.deal-dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  /* Makes the dots round */
  display: inline-block;
  cursor: pointer;
}

/* Styling for the active dot - indicates the current slide */
.deal-dot.active {
  background-color: green;
}

/* Navbar styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1190px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo img {
  width: 165px;
  height: 50px;
  margin-right: 115px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header nav {
  flex-grow: 1;
}

.nav-links li a {
  font-size: 30px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.nav-links li:first-child {
  border-bottom: 7px solid #b5d8b3;
}

@media (max-width: 1000px) {
  .nav-links li a {
    font-size: 24px;
  }

  .logo img {
    width: 132px;
    height: 40px;
    margin-right: 60px;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
    padding-top: 20px;
  }

  .logo img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  header nav {
    width: 100%;
  }

  .nav-links li a {
    font-size: 20px;
  }
}